<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= current_page.data.description || config.meta[:blog][:description] %>">
    <meta name="author" content="Joey Cody">
    <meta name="google-site-verification" content="LVlVLY6LY-WbXw8StiJxTNiX8G76j1YAmXw42VAbDsE" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@joeycdy" />
    <meta name="twitter:title" content="<%= current_page.data.title || 'Joey Cody' %>" />
    <meta name="twitter:description" content="<%= current_page.data.description || config.meta[:blog][:description] %>" />
    <meta property="og:url" content="<%= URI.join(blog_settings.url, current_page.url) %>" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description || config.meta[:blog][:description] %>" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Joey Cody" %></title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QT7SJXE17"></script>
    <%= javascript_include_tag "vendor/google_analytics" %>
    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="min-h-screen bg-white font-sans text-zinc-900 antialiased <%= page_classes %>">
    <%= partial "components/header" %>
    <main>
      <%= yield %>
    </main>
    <%= partial "components/footer" %>
  </body>
</html>
