---
title: Work | Joey Cody
description: Work for Joey Cody, founding engineer at Substrate AI in San Francisco.
current_city: San Francisco, CA
lat: 37.788337
lon: -122.407316
---
.page-intro
  .container
    %p.eyebrow Resume
    %h1 Work
    %p.page-intro__lede
      Based in #{current_page.data.current_city}. Founding engineer at
      = link_to "Substrate AI", "https://www.substrateai.com/"
      building AI agents for BPO, starting with healthcare RCM.

.resume-page
  .section.summary
    %p
      Experience across product, scaling platforms, AI, and building engineering teams.

  .section
    %h2 Work Experience

    %ul.section-items
      %li.section-item
        %a.link{ href: "https://www.substrateai.com/" }
          %h3 Substrate AI
          %i.fa.fa-external-link{"aria-hidden" => "true"}
        %div.secondary
          %span Founding Engineer
          %span.separator= "|"
          %span Jul 2025 - Present
        %p Building AI agents for BPO, starting with healthcare revenue cycle management.

      %li.section-item
        %a.link{ href: "https://www.fountain.com" }
          %h3 Fountain
          %i.fa.fa-external-link{"aria-hidden" => "true"}
        %div.secondary
          %span Senior Engineering Manager
          %span.separator= "|"
          %span Nov 2018 - Jul 2025
        %p Led Internal and External Integrations plus Applicant Sourcing teams.

      %li.section-item
        %a.link{ href: "https://www.fond.co" }
          %h3 Fond
          %i.fa.fa-external-link{"aria-hidden" => "true"}
        %div.secondary
          %span Senior Software Engineer
          %span.separator= "|"
          %span Mar 2016 - Nov 2018
        %p Built authentication services, improved CI tooling, and supported platform work across the stack.

      %li.section-item
        %a.link{ href: "https://www.hoteltonight.com" }
          %h3 HotelTonight
          %i.fa.fa-external-link{"aria-hidden" => "true"}
        %div.secondary
          %span Platform Engineer
          %span.separator= "|"
          %span Feb 2014 - Dec 2015
        %p Worked on APIs, platform systems, hotel tooling, and marketplace infrastructure.

      %li.section-item
        %a.link{ href: "https://www.codeforamerica.org" }
          %h3 Code for America
          %i.fa.fa-external-link{"aria-hidden" => "true"}
        %div.secondary
          %span Google Summer of Code Engineer
          %span.separator= "|"
          %span 2012 - 2014
        %p= "Rails developer at Code for America. Created #{link_to "Honolulu Answers", "https://github.com/codeforamerica/honolulu_answers"} and #{link_to "Textizen", "https://www.textizen.com/"}."

  .section
    %h2 Education
    %ul.section-items
      %li.section-item
        %h3 University of California, Santa Barbara
        %div.secondary
          %span Statistical Science
      %li.section-item
        %h3 National University of Singapore
        %div.secondary
          %span Computer Science - Computational Economics Emphasis
